<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= render 'layouts/overide' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>">
    <%= render 'layouts/navigation' %>
    <div id="container" class="container">
      <div class="content">
        <div class="page-header">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :class => "alert-message #{name}" if msg.is_a?(String) %>
          <%- end -%>          
                  
          <h1><%= header %><!--<small>Supporting text or tagline</small> --></h1>
        </div>
        <div class="row">
          <div class="span10">
            <!-- <h2>Main content</h2> -->
            <%= yield %>
          </div>
          <div class="span4">
            <!-- <h3>Secondary content</h3>-->
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Provantage Sports 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>